<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
    </head>
    <body style="background: #eeeeee;">

        {{ partial "nav.html" . }}
        <!-- {{ partial "header.html" . }} --><br>
        
        <div class="container">
            <div class="row">

                <div class="col-sm-12 col-lg-8" style="padding:0px;margin: none;background: white;  box-shadow: 1px 2px 5px #888888;">
                    <article>
                    <div style="padding: 15px; color: grey">
                        <img src="{{ .Params.avatar }}" class="rounded-circle" width="32" height="32" />
                        <a target="_blank" style="color: grey" href="{{ .Params.link }}">{{ .Params.author }}</a> <small><i class="fa fa-check-circle fa-1x" style="color:#42a5f5;"></i></small> &nbsp;· <time>{{ .Date.Format "02 January 2006" }}</time><br><br>
                        <h2 class="card-title mb-3" style="font-family: 'Lora', serif">{{ .Title }}</h2>
                        
                    </div>

                    <img width="100%" src='{{ if eq .Params.image "" }}http://lorempixel.com/320/160{{else}}{{ .Params.image }}{{end}}'
                            alt='{{ .Title }}'>
                    
                    <div style="padding: 15px">
                    {{ range .Params.tags }}
                    <a onMouseOver="this.style.background='#eeeeee  '"
   onMouseOut="this.style.background='white'" style="color:grey;border: solid 1px #bdbdbd; border-radius: 50px;" class="btn" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a>
                    {{ end }}


                    </div>

                  <div style="color:#444;padding: 15px;font-family: 'Lora', serif;font-size: 18px; margin-top: -15px">
                  {{ .Content }}<br>
                  Bagikan di :<br>
                  <a class="text-secondary" href="https://facebook.com/sharer.php?u={{.Permalink}}">· <b>f</b>acebook</a>
                  <a class="text-secondary" href="https://twitter.com/share?url={{.Permalink}}">· <b>t</b>witter</a>
                  <a class="text-secondary" href="https://linkedin.com/shareArticle?url={{.Permalink}}">· linked<b>in</b></a>
                  <a class="text-secondary" href="https://pinterest.com/pin/create/bookmarklet/?url={{.Permalink}}">· <b>p</b>interest</a>
                  <a class="text-secondary" href="https://api.whatsapp.com/send?phone=6285546666653&text={{.Permalink}}">· whatsapp</a>


                  <!-- Next and previous post -->
                  <br><br>
                  {{ if .PrevInSection }}
<a class="btn btn-outline-info" style="border-radius: 100px;max-width: 100%;white-space: nowrap;
  overflow: hidden;  text-overflow: ellipsis;margin-top: 10px " href="{{.PrevInSection.Permalink}}"><span><i class="fa fa-chevron-left"></i> {{ .PrevInSection.Title }}</span></a>
{{ end }}
{{ if .NextInSection }}
<a class="btn btn-outline-info float-right" style="border-radius: 100px;max-width: 100%;white-space: nowrap;
  overflow: hidden;  text-overflow: ellipsis;margin-top: 10px" href="{{.NextInSection.Permalink}}"><span> {{.NextInSection.Title}} <i class="fa fa-chevron-right"></i></span></a>
{{ end }}<br>
                  </div>
                 
                 <div style="padding: 15px">                   
                 {{ partial "disqus.html" . }}
                 </div>          
                       
                    </article>
                    </div>

                    <div class="col-sm-12 col-lg-4">
                       {{ partial "aside.html" . }}
                    </div>
            </div>
        </div>

        {{ partial "footer.html" . }}
        {{ partial "js-init.html" . }}
    </body>
</html>
