<header>
        <div class="container">
        <p class="lead bg-white rounded" style="padding:15px;font-family: 'Lora'"><big>Agrohorti.com</big> adalah sebuah media untuk berbagi informasi berkaitan dengan agrobisnis dan budidayanya. Agrohorti juga menyediakan berbagai kebutuhan untuk pertanian, peternakan, perikanan, dan beberapa bidang agrobisnis lainnya.
<br>
Dalam budidaya pertanian ada beberapa kunci keberhasilan diantaranya adalah :
<br><br>
1. Benih yang baik dan berkualitas
<br>2. Tehnik budidaya yang baik
<br>3. Pengendalian hama dan penyakit yang optimal
<br>4. Iklim yang mendukung, dll
<br><br>
Oleh sebab itu Agrohorti hadir untuk menyediakan bibit hortikultura yang mempunyai daya tahan dan hasil panen sangat bagus yang telah kami riset dan teruji daya tahannya.
<br><br>
Inilah beberapa keuntungan anda jika membeli bibit di Agrohorti :
<br><br>
1. Mempunyai daya tahan (kekebalan) di atas rata-rata bibit pada umumnya
<br>2. Panen yang lebih cepat
<br>3. Hasil panen yang lebih banyak karena produktifitas tanaman meningkat
<br>4. Dapatkan garansi terhadap jumlah bibit yang dibeli
<br><br>

Untuk menunjang keberhasilan dalam budidaya tanaman, kami juga menyediakan obat pertanaian seperti pestisida, herbisida, fungisida, pupuk kimia dan pupuk organik.
Apabila anda masih ragu dan bingung dalam proses bertani silakan konsultasikan kepada kami, dengan senang hati kami akan membantu semampu kami. <br><br>
<a href="https://api.whatsapp.com/send?phone=6285546666653&text=https://bit.ly/agrohorti%0ASilakan%20tulis%20pesanan%20anda%20(%20cabai%20tomat%20kol%20terong%20lainnya%20)di%20bawah%20ini%20%3A%0A%0A" class="btn btn-outline-success btn-lg" style="border-radius: 100px;width: 95%"><b>Pesan Bibit Sekarang</b></a><br>
</p>

            <div class="row">
                <div class="col-lg-8">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" style="height: 350px">
      <img class="d-block w-100 rounded" src="https://www.agrohorti.com/img/slide3.jpg" alt="First slide">
    </div>
    <div class="carousel-item"  style="height: 350px">
      <img class="d-block w-100 rounded" src="https://www.agrohorti.com/img/slide2.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
                </div>
                <div class="col-lg-4">
                    <div class="list-group">
    <button type="button" class="list-group-item list-group-item-action">
    <h3 class="text-secondary">Artikel Terbaru</h3>
  </button>
  {{ range first 3 .Site.Pages }}
    {{if eq .Type "post" }}
    <a href="{{ .RelPermalink }}" class="list-group-item list-group-item-action"><img class="rounded" style="float: left;margin-right: 10px" src="{{ .Params.image }}" width="80" height="70">{{ .Title }}
        <br> <sub style="color: #bbb"> · {{ .Date.Format "02 January, 2006" }}</sub></a> 
    {{ end }}
    {{ end }}
</div><br>
                </div>
            </div><hr>
        </div>
</header>