<div style="padding: 15px; color: grey">

<center>
	<h5><i class="fa fa-question-circle"></i> Tentang Penulis </h5>
<br> 
 <a style="color: grey" href="{{ .Params.link }}" target="_blank">
 <img src="{{ .Params.avatar }}" class="rounded-circle" width="100" height="100" /><br>
 {{ .Params.author }}</a> <small><i class="fa fa-check-circle fa-1x" style="color:#42a5f5;"></i></small><br>

 <i><i class="fa fa-quote-left"></i> {{ .Params.quote }} ~</i>
<br><br>
<a href="" target="_blank" class="btn btn-info" style="border-radius: 100px"><b>follow</b> @{{ .Params.author }}</a>
</div>
<hr>