<div class="list-group">
	<button type="button" class="list-group-item list-group-item-action">
    <h3 class="text-secondary">Artikel Terbaru</h3>
  </button>
  {{ range first 5 .Site.Pages }}
    {{if eq .Type "post" }}
    <a href="{{ .RelPermalink }}" class="list-group-item list-group-item-action"><img class="rounded" style="float: left;margin-right: 10px" src="{{ .Params.image }}" width="80" height="70">{{ .Title }}
    	<br> <sub style="color: #bbb"> · {{ .Date.Format "02 January, 2006" }}</sub></a> 
    {{ end }}
    {{ end }}
</div>
<div class="img-wrapper">
	<img src="https://travel.state.gov/content/travel/en/us-visas/business/_jcr_content/tsg-rwd-content-page-parsysxxx/slideshow.img.png/1512148994695.png">
</div>
<style type="text/css">
	.img-wrapper{
		position: relative;
		overflow: hidden;
		height: 425px;
	}
	.img-wrapper img{
		position: absolute;
		top: -100%;
		left: 10;
		right: 0;
		bottom: -100%;
		margin: auto;
	}
</style>