<!-- 404 page -->
<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
    </head>
    <body style="background: #eee">

        {{ partial "nav.html" . }}
        <div class="container"><center>
          <br><h1 class="text-secondary"><b>Oooops...!!</b></h1>
          <h2 class="text-secondary"> Maaf, Halaman yang anda cari tidak ditemukan.<br>Kembali ke <a href="{{.Site.BaseURL}}" class="btn btn-secondary" style="border-radius: 100px;">Halaman Utama</a> atau cari artikel lainnya.</h2></center><hr>
        {{range ($.Site.GetPage "taxonomyTerm" "topik").Pages }}
   <a class="btn btn-info" style="border-radius: 100px;margin-top: 10px" href="{{.Permalink}}">{{.Title}}</a>
{{end}}

{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
    <a class="btn btn-secondary" style="border-radius: 50px;margin-top: 10px" href="/tags/{{ $name | urlize }}">#{{ $name }}</a>
  {{ end }}
        <br><br>
        </div>
        {{ partial "post-grid.html" . }}
        <!-- {{ partial "footer.html" . }} -->
        {{ partial "js-init.html" . }}
    </body>
</html>
