<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
    </head>
    <body style="background: #eee">

        {{ partial "nav.html" . }}
        <!-- {{ partial "header.html" . }} --><br>
        {{ partial "header.html" . }}
        {{ partial "post-grid.html" . }}
        {{ partial "footer.html" . }}
        {{ partial "js-init.html" . }}
        <div id="mybutton" style=" position: fixed;bottom: 10px;right: 10px;">
<a href="https://api.whatsapp.com/send?phone=6285546666653&text=https://bit.ly/agrohorti%0ASilakan%20tulis%20pesanan%20anda%20(%20cabai%20tomat%20kol%20terong%20lainnya%20)di%20bawah%20ini%20%3A%0A%0A" class="btn btn-success rounded-circle text-white" style=""><i class='fa fa-whatsapp fa-2x'></i></a>
</div>
    </body>
</html>
